@model IEnumerable<HrPortal.Models.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Geri Bildirimler</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SenderName)
                </th>
                
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.SenderName)</a> 
            </td>
            <td>
                @item.CreateDate.ToShortDateString()
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
