@model Resume
@{
    ViewData["Title"] = "Create";
}
 <!-- Page header -->
<link href="~/css/magicsuggest-min.css" rel="stylesheet" />

<form asp-action="Create" method="post">
    <header class="page-header">
        <div class="container page-name">
            <h1 class="text-center">Özgeçmişinizi Oluşturun</h1>
            <p class="lead text-center">Özgeçmişinizi oluşturun ve yayınlayın.</p>
        </div>

        <div class="container">
            @if (ViewBag.IsModelStateValid == true)
            {
                <div class="alert alert-success" role="alert">
                    <strong>Başarılı!</strong> Özgeçmişiniz başarıyla kaydedildi.
                </div>
            }
            else if (ViewBag.IsModelStateValid == false)
            {

                <div class="alert alert-danger" role="alert">
                    <strong>Hata!</strong> Lütfen bilgileri kontrol edip tekrar deneyiniz.
                </div>

            }
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <input asp-for="Photo" type="file" class="dropify" data-default-file="assets/img/avatar.jpg">
                        <span class="help-block"></span>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>

              
                    <div class="col-xs-12 col-sm-8">
                        <div class="form-group">
                            <input asp-for="ResumeName" type="text" class="form-control input-lg" placeholder="CV adı">
                            <span asp-validation-for="ResumeName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="FullName" type="text" class="form-control input-lg" placeholder="Ad ve Soyad">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Title" type="text" class="form-control" placeholder="Başlık (Bkz. Yazılım Uzmanı)">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <textarea asp-for="Notes" class="form-control" value="" rows="3" placeholder="Eklemek İstediğiniz Notlar"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <select asp-for="LanguageId" class="form-control selectpicker" asp-items="@ViewBag.Languages">
                                <option value="">Özgeçmiş dili seçiniz</option>
                            </select>
                            <span asp-validation-for="Language" class="text-danger"></span>

                        </div>

                        <hr class="hr-lg">

                        <h6>Temel Bilgiler</h6>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <select asp-for="LocationId" class="form-control selectpicker" asp-items="@ViewBag.Locations">
                                        <option value="">Lokasyon seçiniz</option>
                                    </select>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                    <input asp-for="WebAddress" type="text" class="form-control" placeholder="Web Sayfası">
                                    <span asp-validation-for="WebAddress" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                    <input asp-for="BirthDate" type="datetime" class="form-control" placeholder="Doğum Tarihi">
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    <span class="input-group-addon">gg/aa/yyyy</span>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input asp-for="Phone" type="text" class="form-control" placeholder="Telefon Numarası">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="E-Posta">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <input asp-for="DrivingLicense" type="text" class="form-control" placeholder="Sürücü Belgesi (Bkz. B, A2) ">
                                    <span asp-validation-for="DrivingLicense" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <select asp-for="MilitaryStatus" class="form-control selectpicker" asp-items="@Html.GetEnumSelectList<MilitaryStatus>()">
                                        <option value="">Askerlik durumunuz nedir?</option>
                                    </select>
                                    <span asp-validation-for="MilitaryStatus" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <select asp-for="IsTravelDisabled" class="form-control selectpicker">
                                        <option selected>Seyahat engeliniz var mı?</option>
                                        <option value="true">Evet</option>
                                        <option value="false">Hayır</option>
                                    </select>
                                    <span asp-validation-for="IsTravelDisabled" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <select asp-for="SmokingStatus" class="form-control selectpicker">
                                        <option selected>Sigara kullanıyor musunuz?</option>
                                        <option value="1">Evet</option>
                                        <option value="0">Hayır</option>
                                    </select>
                                    <span asp-validation-for="SmokingStatus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <input asp-for="Hobbies" type="text" class="form-control" placeholder="Hobileriniz (Bkz. Müzik, Resim, Kamp ) ">
                                    <span asp-validation-for="Hobbies" class="text-danger"></span>
                                </div>
                                </div>
                            </div>

                            <hr class="hr-lg">

                            <h6>Etiket Listesi</h6>
                            <div id="form-group">
                                <input class="tags form-control" />
                                <input type="hidden" asp-for="Tags" />
                                <span asp-validation-for="Tags" class="text-danger"></span>
                            </div>
                        </div>
                        </div>

            <div class="button-group">
                <div class="action-buttons">

                    <div class="upload-button">
                        <button class="btn btn-block btn-primary">Bir özgeçmiş dosyası seçin</button>
                        <input asp-for="ResumeFile" type="file">
                        <span asp-validation-for="ResumeFile" class="text-danger"></span>
                    </div>

                    <div class="upload-button">
                        <button class="btn btn-block btn-primary">Bir resim seçin</button>
                        <input  id="cover_img_file" type="file">
                    </div>             
                </div>
            </div>
        </div>
    </header>
    <!-- END Page header -->
    <!-- Main container -->
    <main>
        <!-- Social media -->
        <section>
            <div class="container">

                <header class="section-header">
                    <span>Bağlantılarınız</span>
                    <h2>Sosyal Medya</h2>
                </header>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                <input asp-for="Facebook" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Facebook" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                                <input asp-for="GooglePlus" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="GooglePlus" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dribbble"></i></span>
                                <input asp-for="Dribbble" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Dribbble" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pinterest"></i></span>
                                <input asp-for="Pinterest" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Pinterest" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                <input asp-for="Twitter" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Twitter" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-github"></i></span>
                                <input asp-for="Github" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Github" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                                <input asp-for="Instagram" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Instagram" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
                                <input asp-for="Youtube" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Youtube" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <p class="text-center"><button class="btn btn-success btn-xl btn-round">Özgeçmişinizi Kaydedin</button></p>
        <!-- Social media -->
        <!-- Education -->

        <section id="EducationInfoCreate" class=" bg-alt">
            
        </section>
        <!-- END Education -->
        <!-- Work Experience -->
   
        <section id="ExperienceCreate" class="bg-alt">
           
        </section>
        <!-- END Work Experience -->
        <!-- Skills -->
        
        <section id="SkillCreate" class=" bg-alt">
            
        </section>
        <!-- END Skills -->

        <!-- Sertifikalar -->
        <section id="CertificateCreate" class=" bg-alt">
            
        </section>


        <!-- Language -->
        <section id="LanguageInfoCreate" class=" bg-alt">
           
        </section>

        <!-- Submit -->
        <section class=" bg-img" style="background-image: url(assets/img/bg-facts.jpg);">
            <div class="container">
                <header class="section-header">
                    <span>Tamamladınız mı?</span>
                    <h2>Özgeçmişinizi Kaydedin</h2>
                    @*<p>Please review your information once more and press the below button to put your resume online.</p>*@
                </header>

                <p class="text-center"><button class="btn btn-success btn-xl btn-round">Özgeçmişinizi Kaydedin</button></p>

            </div>
        </section>
        <!-- END Submit -->


    </main>
    <!-- END Main container -->
    </form>
@section scripts{
    <script src="/assets/vendors/summernote/summernote.min.js"></script>
    <script src="~/js/magicsuggest.js"></script>

    <script>

        $(document).ready(function() {
          
            $("#EducationInfosIndex").load("/Resumes/EducationInfosIndex");
            $("#EducationInfoCreate").load("/Resumes/EducationInfoCreate");
            $("#ExperienceIndex").load("/Resumes/ExperienceIndex");
            $("#ExperienceCreate").load("/Resumes/ExperienceCreate");
            $("#SkillIndex").load("/Resumes/SkillIndex");
            $("#SkillCreate").load("/Resumes/SkillCreate");
            $("#CertificateIndex").load("/Resumes/CertificateIndex");
            $("#CertificateCreate").load("/Resumes/CertificateCreate");
            $("#LanguageInfosIndex").load("/Resumes/LanguageInfosIndex");
            $("#LanguageInfoCreate").load("/Resumes/LanguageInfoCreate");
            var ms = $('.tags').magicSuggest({
                allowFreeEntries: true,
                toggleOnClick: true,
                data: '/Resumes/TagHelper',
                placeholder: 'Etiket',           

            });

            $(ms).on('blur', function (c) {
                
                $.each(ms.getValue(), function (index, key) {
                    $("#Tags").val($("#Tags").val() + "," + key);
                });
                alert($("#Tags").val());

            });

        });


        $(ms).on('load', function () {
            if (this._dataSet === undefined) {
                this._dataSet = true;
                ms.setDataUrlParams({});
            }
        });





        function EducationInfoCreate() {
            $.post("/Resumes/EducationInfoCreate",
                {
                    ResumeId: "@(Model.Id)",
                    Photo: $("#Photo").val(),
                    EducationLevel: $("#EducationLevel").val(),
                    SchoolName: $("#SchoolName").val(),
                    Department: $("#Department").val(),
                    StartDate: $("#StartDate").val(),
                    EndDate: $("#EndDate").val(),
                    Notes: $("#Notes").val(),
                },
                function(data) {
                    alert(data);

                });
        }

        function ExperienceCreate() {
            $.post("/Resumes/ExperienceCreate",
                {
                    ResumeId: "@(Model.Id)",
                    Photo: $("#Photo").val(),
                    CompanyName: $("#CompanyName").val(),
                    Position: $("#Position").val(),
                    Notes: $("#Notes").val(),
                },
                function(data) {
                    alert(data);

                });

        }


        function SkillCreate() {
            $.post("/Resumes/SkillCreate",
                {
                    ResumeId: "@(Model.Id)",
                    Name: $("#Name").val(),
                    Level: $("#Level").val(),
                },
                function(data) {
                    alert(data);

                });

        }

        function CertificateCreate() {
            $.post("/Resumes/CertificateCreate",
                {
                    ResumeId: "@(Model.Id)",
                    Name: $("#CertificateName").val(),
                    Issuer: $("#Issuer").val(),
                    Issuer: $("#Issuer").val(),
                    IssueDate: $("#IssueDate").val(),
                    CertificateFile: $("#CertificateFile").val(),
                },
                function(data) {
                    alert(data);
                });
        }

        function LanguageInfoCreate() {
            $.post("/Resumes/LanguageInfoCreate",
                {
                    ResumeId: "@(Model.Id)",
                    LanguageId: $("#LanguageId").val(),
                    SpeakingLevel: $("#SpeakingLevel").val(),
                    ReadingLevel: $("#ReadingLevel").val(),
                    WritingLevel: $("#WritingLevel").val(),
                },
                function(data) {
                    alert(data);

                });
        }

    </script>
}
