@model Resume
@{
    ViewData["Title"] = "Details";
}

<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img src="/uploads/resumes/@Model.Photo" alt="photo">
            </div>

            <div class="col-xs-12 col-sm-8 header-detail">
                <div class="hgroup">
                    <h1>@Model.ResumeName</h1>
                    <h3>@Model.FullName / @Model.Title</h3>
                </div>
                <hr>
                <p class="lead">@Model.Notes</p>

                <ul class="details cols-2">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>Konumu:@Model.Location?.Name</span>
                    </li>

                    <li>
                        <i class="fa fa-globe"></i>
                        <a href="#">Web Adres: @Model.WebAddress</a>
                    </li>
   

                    <li>
                        <i class="fa fa-birthday-cake"></i>
                        <span>Doğum Tarihi: @Model.BirthDate</span>
                    </li>

                    <li>
                        <i class="fa fa-phone"></i>
                        <span>Telefon: @Model.Phone</span>
                    </li>

                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="#">E-Posta: @Model.Email</a>
                    </li>
                    <li>
                        <i class="fa fa-cube"></i>
                        <span href="#">Sürücü Belgesi: @Model.DrivingLicense</span>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                        <span href="#">Askerlik Durumu: @Model.MilitaryStatus.GetDisplayName()</span>
                    </li>
                    <li>
                        <i class="fa fa-angellist"></i>
                        <span href="#">Seyahat Engeli: @if (Model.IsTravelDisabled == true)
                        {
                            <span>Evet</span>
                        }
                        else { <span>Hayır</span>}</span>
                    </li>
                    <li>
                        <i class="fa fa-angle-up"></i>
                        <span href="#">Sigara Kullanımı: @Model.SmokingStatus.GetDisplayName()</span>
                    </li>
                    <li>
                        <i class="fa fa-arrows-alt"></i>
                        <span href="#">Hobiler: @Model.Hobbies</span>
                    </li>
                </ul>

                <div class="tag-list">
                    <span>@Model.Tags</span>
                    
                </div>
            </div>
        </div>

        <div class="button-group">
            <ul class="social-icons">
                @if (!String.IsNullOrEmpty(Model.Facebook))
                {
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.GooglePlus))
                {
                <li><a class="googleplus" href="#"><i class="fa fa-google-plus"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Dribbble))
                {
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li> 
                }
                @if (!String.IsNullOrEmpty(Model.Pinterest))
                {
                <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Twitter))
                {
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Github))
                {
                <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Instagram))
                {
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Youtube))
                {
                <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                }

            </ul>

            <div class="action-buttons">
                @if ((User.IsInRole("Candidate") && Model.CreatedBy == User.Identity.Name) || User.IsInRole("Admin"))
                {
                <a class="btn btn-gray" href="#">CV İNDİR</a>

                <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</a>
                }
            </div>
        </div>
    </div>
</header>
   
<!-- END Page header -->
<!-- Main container -->
<main class="container">
    <!--Eğitim durumu -->
        <section class=" bg-alt">
        <header class="section-header">
            <span>Eğitim Durumu</span>
            <h2>Eğitim Bilgileri</h2>
        </header>
        <div class="row">
           <div class="col-xs-12">
                @foreach (var item in Model.EducationInfos)
                {
                    <div class="item-block ">
                        <header>
                            <img src="@item.Photo" alt="logo">
                            <div class="hgroup">
                                <h4>@item.EducationLevel<small>@item.Department</small></h4>
                                <h5>@item.SchoolName</h5>
                            </div>
                            <h6 class="time">@item.StartDate - @item.EndDate</h6>
                        </header>
                        <div class="item-body">
                            <p>@item.Notes</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--İş deneyimi-->
    <section class="bg-alt">
            <header class="section-header">
                <span>ÇALIŞILAN FİRMALAR</span>
                <h2>İş Deneyimi</h2>
            </header>

            <div class="row">

                <!-- Work item -->
                
                <!-- END Work item -->
                <!-- Work item -->
                <div class="col-xs-12">
                   @foreach (var workitem in Model.Experiences)
                   {
                    <div class="item-block">
                        <header>
                            <img src="@workitem.Photo" alt="">
                            <div class="hgroup">
                                <h4>@workitem.CompanyName</h4>
                                <h5>@workitem.Position</h5>
                            </div>
                            <h6 class="time">@workitem.StartYear - @workitem.EndYear</h6>
                        </header>
                        <div class="item-body">
                            <p>@workitem.Notes</p>
                        </div>
                    </div>
                   }
                </div>
                <!-- END Work item -->
               


            </div>

        
    </section>
    <!--Yetenekler -->
    <section class=" bg-alt">
        <header class="section-header">
            <span>Uzmanlık Alanları</span>
            <h2>Yetenekler</h2>
        </header>
        <br>
        @foreach (var item in Model.Skills)
        {
            <ul class="skills cols-3">
                <li>
                    <div>
                        <span class="skill-name">@item.Name</span>
                        <span class="skill-value">@item.Level</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:@(item.Level)%;"></div>
                    </div>
                </li>
            </ul>
        }
    </section>
    <!--Sertifikalar -->
    <section class=" bg-alt">
            <header class="section-header">
                <span>Sertifikalar</span>
                <h2>Sertifika Bilgileri</h2>
            </header>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="item-form">
                            <div class="col-xs-12">
                                @foreach(var item in Model.Certificates) { 
                                <div class="item-block">
                                    <header>
                                        <div class="hgroup">
                                            <h4>@item.Name</h4>
                                            <h5>@item.Issuer</h5>
                                        </div>
                                        <h6 class="time">@item.IssueDate</h6>
                                    </header>
                                    <div class="item-body section-header">
                                        <p >Sertifika Dosyası</p>
                                        <a href="@item.CertificateFile">Sertifika Dosyası</a>
                                    </div>
                                </div>
                                }
                          </div>
                     </div>
                </div>
            </div>
    </section>
    <!--Yabancı Diller -->
    <section class=" bg-alt">
        <header class="section-header">
            <span>Yabancı Diller</span>
            <h2>Yabancı Dil Bilgileri</h2>
        </header>
        @foreach (var item in Model.LanguageInfos)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="item-block">
                        <div class="item-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>@item.Language.Name</h5>
                                    <div class="col-sm-6 col-md-4">
                                        <h3 class="label label-default">Konuşma seviyesi:@item.SpeakingLevel</h3>
                                    </div>
                                    <div class="col-sm-6 col-md-4">

                                        <h3 class="label label-warning">Okuma seviyesi:@item.ReadingLevel</h3>
                                    </div>
                                    <div class="col-sm-6 col-md-4">


                                        <h3 class="label label-info">Yazma seviyesi:@item.WritingLevel</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</main>
<!-- END Main container -->

