@model Resume
@{
    ViewData["Title"] = "Details";
}

<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img src="@Model.Photo" alt="photo">
            </div>

            <div class="col-xs-12 col-sm-8 header-detail">
                <div class="hgroup">
                    <h1>@Model.FullName</h1>
                    <h3>@Model.Title</h3>
                </div>
                <hr>
                <p class="lead">@Model.Notes</p>

                <ul class="details cols-2">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>@Model.LocationId</span>
                    </li>

                    <li>
                        <i class="fa fa-globe"></i>
                        <a href="#">@Model.WebAddress</a>
                    </li>
   

                    <li>
                        <i class="fa fa-birthday-cake"></i>
                        <span>@Model.BirthDate</span>
                    </li>

                    <li>
                        <i class="fa fa-phone"></i>
                        <span>@Model.Phone</span>
                    </li>

                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="#">@Model.Email</a>
                    </li>
                    <li>
                        <i class="fa fa-amazon"></i>
                        <span href="#">@Model.DrivingLicense</span>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                        <span href="#">@Model.MilitaryStatus</span>
                    </li>
                    <li>
                        <i class="fa fa-angellist"></i>
                        <span href="#">@Model.IsTravelDisabled</span>
                    </li>
                    <li>
                        <i class="fa fa-angle-up"></i>
                        <span href="#">@Model.SmokingStatus</span>
                    </li>
                    <li>
                        <i class="fa fa-arrows-alt"></i>
                        <span href="#">@Model.Hobbies</span>
                    </li>
                </ul>

                <div class="tag-list">
                    <span>@if (Model.ResumeTags != null)
                    {
                        foreach (var tags in Model.ResumeTags.Select(s => s.Tag.Name).ToList())
                        {
                            @tags
                            <text> </text>
                        }
                    }</span>
                    
                </div>
            </div>
        </div>

        <div class="button-group">
            <ul class="social-icons">
                @if (!String.IsNullOrEmpty(Model.Facebook))
                {
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.GooglePlus))
                {
                <li><a class="googleplus" href="#"><i class="fa fa-google-plus"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Dribbble))
                {
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li> 
                }
                @if (!String.IsNullOrEmpty(Model.Pinterest))
                {
                <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Twitter))
                {
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Github))
                {
                <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Instagram))
                {
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                }
                @if (!String.IsNullOrEmpty(Model.Youtube))
                {
                <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                }

            </ul>

            <div class="action-buttons">
                <a class="btn btn-gray" href="#">CV İNDİR</a>
            </div>
        </div>
    </div>
</header>
   
<!-- END Page header -->
<!-- Main container -->
<main>


    <!-- Education -->
    <section>
        <div class="container">

            <header class="section-header">
                <span>Eğitim Durumu</span>
                <h2>Eğitim Bilgileri</h2>
            </header>
            
            <div class="row">
               
                <div class="col-xs-12">
                 @foreach (var item in Model.EducationInfos)
                 {
                   <div class="item-block ">
                        <header>
                            <img src="~/assets/img/logo-mit.png" alt="logo">
                            <div class="hgroup">
                                <h4>@item.EducationLevel<small>@item.Department</small></h4>
                                <h5>@item.SchoolName</h5>
                            </div>
                            <h6 class="time">@item.StartDate - @item.EndDate</h6>
                        </header>
                        <div class="item-body">
                            <p>@item.Notes</p>
                        </div>
                    </div>                  
                  }    
                </div>
            </div>
        </div>
    </section>
    <!-- END Education -->
    <!-- Work Experience -->
    <section class="bg-alt">
        <div class="container">
            <header class="section-header">
                <span>ÇALIŞILAN FİRMALAR</span>
                <h2>İş Deneyimi</h2>
            </header>

            <div class="row">

                <!-- Work item -->
                <div class="col-xs-12">
                    
                    <div class="item-block">
                        <header>
                            <img src="" alt="logo">
                            <div class="hgroup">
                                <h4></h4>
                                <h5></h5>
                            </div>
                            <h6 class="time">Jan 2016 - Present</h6>
                        </header>
                        <div class="item-body">
                            <p>Responsibilities:</p>
                            <ul>
                                <li>Developed front-end for world-class online social viewing video and chat platform using xHTML, CSS, ActionScript 2-3, Javascript, and XML.</li>
                                <li>Developed built-in chat application into Flash video player in ActionScript 3.</li>
                                <li>Built and developed sites for ABC Family properties such as Gilmore Girls, The Middleman, Secret Life of an American Teenager, Greek, and Kyle XY. </li>
                                <li>Translate designs into responsive web interfaces </li>
                                <li>Collaboration with the graphic designer on the front-end aspect of development. </li>
                                <li>Cross-platform cross-browser development. </li>
                                <li>Some back-end development in collaboration with senior developer.</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!-- END Work item -->
                <!-- Work item -->
                <div class="col-xs-12">
                    <div class="item-block">
                        <header>
                            <img src="assets/img/logo-facebook.png" alt="">
                            <div class="hgroup">
                                <h4>Facebook</h4>
                                <h5>Interface developer</h5>
                            </div>
                            <h6 class="time">Aug 2014 - Jan 2016</h6>
                        </header>
                        <div class="item-body">
                            <p>Responsibilities:</p>
                            <ul>
                                <li>Work as a part of a large team on a major corporate project</li>
                                <li>Responsible for all aspects of presentation layer development including developing templates using HTML, DHTML, Javascript, XML, and XSL.</li>
                                <li>Rapid-prototyping for usability studies and new business development.</li>
                                <li>Collaboration with the graphic designer on the front-end aspect of development.</li>
                                <li>Some back-end development in collaboration with senior developer.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END Work item -->
                <!-- Work item -->
                <div class="col-xs-12">
                    <div class="item-block">
                        <header>
                            <img src="assets/img/logo-envato.png" alt="">
                            <div class="hgroup">
                                <h4>Envato</h4>
                                <h5>Quality assurance engineer</h5>
                            </div>
                            <h6 class="time">Mar 2012 - Jun 2014</h6>
                        </header>
                        <div class="item-body">
                            <p>Responsibilities:</p>
                            <ul>
                                <li>Software testing in a Web Applications/Mobile environment.</li>
                                <li>Software Test Plans from Business Requirement Specifications for test engineering group.</li>
                                <li>Run production tests as part of software implementation; Create, deliver and support test plans for testing group to execute.</li>
                                <li>Software testing in a Web Applications environment.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END Work item -->


            </div>

        </div>
    </section>
    <!-- END Work Experience -->
    <!-- Skills -->
    <section>
        <div class="container">
            <header class="section-header">
                
                <span>Uzmanlık Alanları</span>
                <h2>Yetenekler</h2>
            </header>

            <br>
            <ul class="skills cols-3">
                <li>
                    <div>
                        <span class="skill-name">HTML</span>
                        <span class="skill-value">100%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </li>

                <li>
                    <div>
                        <span class="skill-name">CSS</span>
                        <span class="skill-value">95%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 95%;"></div>
                    </div>
                </li>

                <li>
                    <div>
                        <span class="skill-name">Javascript</span>
                        <span class="skill-value">80%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </li>

                <li>
                    <div>
                        <span class="skill-name">Photoshop</span>
                        <span class="skill-value">60%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </li>

                <li>
                    <div>
                        <span class="skill-name">ReactJS</span>
                        <span class="skill-value">70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;"></div>
                    </div>
                </li>

                <li>
                    <div>
                        <span class="skill-name">Team work</span>
                        <span class="skill-value">90%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </li>
            </ul>

        </div>
    </section>
    <!-- END Skills -->
    <!-- Sertifikalar --> 
    <section class=" bg-alt">
        <div class="container">

            <header class="section-header">
                <span>Sertifikalar</span>
                <h2>Sertifika Bilgileri</h2>
            </header>

            <div class="row">

                <div class="col-xs-12">
                    
                        <div class="item-form">
                            <div class="col-xs-12">
                                <div class="item-block">
                                    <header>
                                        <img src="assets/img/logo-envato.png" alt="">
                                        <div class="hgroup">
                                            <h4>Sertifika adı</h4>
                                            <h5>Alındığı kurum</h5>
                                        </div>
                                        <h6 class="time">Mar 2012 - Jun 2014</h6>
                                    </header>
                                    <div class="item-body section-header">
                                        <p >Sertifika Dosyası</p>
                                        <a href="#">C# EĞİTİMİ</a>
                                    </div>
                                </div>
                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>      
    </section>
    <section class=" bg-alt">
        <div class="container">

            <header class="section-header">
                <span>Yabancı Diller</span>
                <h2>Yabancı Dil Bilgileri</h2>
            </header>

            <div class="row">

                <div class="col-xs-12">
                    <div class="item-block">
                        <div class="item-form">

                           

                            <div class="row">


                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group ">
                                        <h5>Dil</h5>
                                    </div>


                                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                                        <div class="form-group s">
                                            <div class="input-group input-group-sm">
                                                <h3 class="label label-success">Konuşma seviyesi:5</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group input-group-sm">
                                                    <h3 class="label label-warning">Okuma seviyesi:9</h3>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <h3 class="label label-info" >Yazma seviyesi:9</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </section>


</main>
<!-- END Main container -->

