@model IEnumerable<Experience>
@{
    Layout = null;
}

<div class="container">
    <header class="section-header">
        <span>Çalıştığınız Firmalar</span>
        <h2>İş Deneyimi</h2>
    </header>

    <div class="row">

        <div class="col-xs-12">
            <div class="item-block">
                <div class="item-form">

                    <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                    <div class="row">

                        @foreach (var item in Model)
                        {
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                @item.Photo
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-8">
                            <div class="form-group">
                                @item.CompanyName
                            </div>

                            <div class="form-group">
                                @item.Position
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Başlangıç tarihi</span>
                                    @item.StartYear
                                    <span class="input-group-addon">Bitiş tarihi</span>
                                    @item.EndYear
                                </div>
                            </div>

                            <div class="form-group">
                               @item.Notes
                            </div>
                        </div>
                     }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 text-center">
            <br>
            <button id="btnAdd" type="button" onclick="AddExperience()" class="btn btn-primary btn-duplicator">İş Deneyimi Ekle</button>
        </div>


    </div>
</div>
