@model ResumeSearchViewModel
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Özgeçmişler";
}

<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Özgeçmişler</h1>
        <p class="lead text-center">Aradığınız pozisyon için özgeçmişler aşağıdadır.</p>
    </div>

    <div class="container">
        <form asp-action="Index" method="get">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input asp-for="Keywords" type="text" class="form-control" placeholder="Anahtar kelime: isim, yetenekler ya da etiketler" />
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" asp-for="LocationId" asp-items="@ViewBag.Locations">
                        <option value="">Tüm konumlar</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" asp-for="OccupationId" asp-items="@ViewBag.Occupations">
                        <option value="">Tüm meslekler</option>
                    </select>
                </div>


                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Askerlik Durumu</h6>
                    <div class="checkall-group">
                       
                        <div class="radio">
                            <input type="radio" id="militaryStatus1" name="militaryStatus" value="1">
                            <label for="militaryStatus1">Yapıldı</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="militaryStatus2" name="militaryStatus" value="2">
                            <label for="militaryStatus2">Muaf</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="militaryStatus3" name="militaryStatus" value="3">
                            <label for="militaryStatus3">Tecilli</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="militaryStatus4" name="militaryStatus" value="4">
                            <label for="militaryStatus4">Yok</label>
                        </div>
                    </div>
                </div>


                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Eğitim Seviyesi</h6>
                    <div class="checkall-group">
                        <div class="radio">
                            <input type="radio" id="educationLevel1" name="educationLevel" checked value="">
                            <label for="educationLevel1">Tüm Seviyeler</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationLevel2" name="educationLevel" value="1" />
                            <label for="educationLevel2">Ön Lisans</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationLevel3" name="educationLevel" value="2">
                            <label for="educationLevel3">Lisans</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationLevel4" name="educationLevel" value="3">
                            <label for="educationLevel4">Yüksek Lisans</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationLevel5" name="educationLevel" value="4">
                            <label for="educationLevel5">Doktora</label>
                        </div>
                    </div>
                </div>


                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Sırala</h6>
                   

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby1" checked value="1">
                        <label for="sortby1">Ada göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby2" value="2">
                        <label for="sortby2">Ada göre azalan</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby3" value="3">
                        <label for="sortby3">Mesleğe göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby4" value="4">
                        <label for="sortby4">Mesleğe göre azalan</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby5" value="5">
                        <label for="sortby5">Konuma göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby6" value="6">
                        <label for="sortby6">Konuma göre azalan</label>
                    </div>
                </div>


            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>

        </form>

    </div>

    </header>

    <!-- Main container -->
    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row">

    <div class="col-xs-12">
        <br>
        <h5>Arama kriterlerinizle uyuşan <strong>@Model.SearchResults.TotalRecordCount</strong> özgeçmiş bulundu...</h5>
    </div>

    <!-- Resume detail -->
    @foreach (var resumeItem in Model.SearchResults)
    {
        <div class="col-xs-12">
            <a class="item-block" asp-action="Details" asp-route-id="@resumeItem.Id">
                <header>
                    <img src="/uploads/resumes/@resumeItem.Photo" alt="@resumeItem.FullName">
                    <div class="hgroup">
                        <h4>@resumeItem.FullName</h4>
                        <h5>@resumeItem.Title</h5>
                    </div>
                </header>

                <div class="item-body">
                    <p>@resumeItem.Notes</p>

                    <div class="tag-list">
                       
                        <span>@resumeItem.Tags</span>
                        
                    </div>
                </div>

                <footer>
                    <div class="header-meta">
                        <ul class="list-inline">
                            <li>
                                <span class="location">
                                    @resumeItem.Location?.Name
                                </span>
                            </li>
                            <li>
                                <span class="label label-success">@resumeItem.EducationInfos.OrderByDescending(e => e.EndDate).FirstOrDefault()?.EducationLevel.GetDisplayName() </span>

                            </li>
                            <li>
                                <span class="label label-success">@resumeItem.MilitaryStatus.GetDisplayName()</span>
                            </li>
                        </ul>
                    </div>

                </footer>
           </a>
      </div>
     }
<!-- END Resume detail -->
</div>
                <!-- Page navigation -->
                <nav aria-label="Resume navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.SearchResults })
                </nav>
                <!-- END Page navigation -->


            </div>
        </section>
    </main>
    <!-- END Main container -->





