@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Yeni Hesap oluşturma";
}
<header class="page-header bg-img ">
    <div class="container page-name">
        <h1 class="text-center">Kaydol</h1>
        <p class="lead text-center">Özgeçmiş Oluşturmak ve Size En Uygun Olan İşi Bulmak İçin Lütfen Üye Olunuz</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>


                    <h4>Yeni bir hesap oluşturun.</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div style=" border:1px; width :200px; height:200px" class="form-group">
                                <input asp-for="Photo" type="file" name="AvatarImage" class="dropify" data-default-file="assets/img/avatar.jpg">
                                <span class="help-block">Lütfen fotoğraf yükleyiniz.</span>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">



                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LocationId"></label>
                                <select asp-for="LocationId" class="form-control" asp-items="@ViewBag.Locations">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="LocationId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OccupationId"></label>
                                <select asp-for="OccupationId" class="form-control" asp-items="@ViewBag.Occupations">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="OccupationId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IsEmployer"></label>
                                <input asp-for="IsEmployer" class="checkbox checkbox-inline" />
                                <span asp-validation-for="IsEmployer" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-6">


                            <div class="form-group">
                                <label asp-for="CompanyName"></label>
                                <input asp-for="CompanyName" class="form-control" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Kaydol</button>
                            </div>

                        </div>

                    </div>
                </form>
                <div class="row">
                    <!--Sosyal Medya Kısmı-->
                    <div class="col-md-12">
                        
                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            if (loginProviders.Count == 0)
                            {
                                
                            }
                            else
                            {
                                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn btn-fb fa fa-facebook left" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </div>

                
            </div>
        </div>
        </div>
</header>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
