@model ApplicationSearchViewModel
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Applications";
}



<div>

    <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
        <div class="container page-name">
            <h1 class="text-center">Başvurular</h1>
            <p class="lead text-center">Pozisyonunuz için aradığınız başvurular aşağıdadır.</p>
            <p class=" text-center"><select></select></p>
            
        </div>

        <div class="container">
            <form method="get" action="/Resumes">
                
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12">
                        <input type="text" class="form-control" placeholder="Başvuru Ara" id="Keywords" name="Keywords" value="">
                    </div>
                    

                </div>
                <div class="action-buttons">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                    
                </div>
            </form>

        </div>

    </header>

    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12">
                        <br>
                        <h5>@Model.SearchResults.Count<strong></strong> kayıt bulundu..</h5>
                        <br>
                    </div>

                    <!-- Resume detail -->
                        @foreach (var item in Model.SearchResults)
                        {
                    <div class="col-xs-12">
                        <a class="item-block" href="/Resumes/Details/@item.Id">
                            <header>
                                <img src="/uploads/resumes/" alt="yeşim kariyer">
                                <div class="hgroup">
                                    <h4>@item.Resume.FullName</h4>
                                    <h5>@item.Resume.Title</h5>
                                </div>
                            </header>

                            <div class="item-body">
                                <p>@item.Resume.Notes</p>

                                <div class="tag-list">

                                    <span></span>

                                </div>
                            </div>

                            <footer>
                                <div class="header-meta">
                                    <ul class="list-inline">
                                        <li>
                                            <span class="location">
                                                @item.Resume.Location.Name
                                            </span>
                                        </li>   
                                        <li>
                                            <span class="label label-success">Askerlik Durumu:@item.Resume.MilitaryStatus.GetDisplayName()</span>
                                        </li>
                                    </ul>
                                </div>

                            </footer>
                        </a>
                    </div>
                        }
                    <!-- END Resume detail -->
                </div>
                <!-- Page navigation -->
                <nav aria-label="Resume navigation example">




                </nav>
                <!-- END Page navigation -->


            </div>
        </section>
    </main>

</div>