@model ApplicationSearchViewModel
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Applications";
}



<div>

    <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
        <div class="container page-name">
            <h1 class="text-center">Başvurular</h1>
            <p class="lead text-center">Pozisyonunuz için aradığınız başvurular aşağıdadır.</p>
            
            
        </div>

        <div class="container">
            <form method="get" action="/Resumes">
                
                <div class="row">
                    <div class="form-group col-sm-9">
                        <input type="text" class="form-control" placeholder="Başvuru Ara" id="Keywords" name="Keywords" value="">
                    </div>
                    <div class="col-sm-3">
                          <select class="form-control selectpicker" asp-for="JobId" asp-items="@ViewBag.Jobs">
                        <option>İlan Seçiniz</option>
                          </select>
                        
                    </div>
                    

                </div>
                <div class="button-group">
                    <div class="action-buttons">
                        <button type="submit" class="btn btn-primary">Filtrele</button>

                    </div>
                </div>
            </form>

        </div>

    </header>

    <main class="container">
        <section class="no-padding-top bg-alt">
            
                <div class="row">

                    <div class="col-xs-12">
                        <br>
                        <h5>@Model.SearchResults.Count<strong></strong> kayıt bulundu..</h5>
                        <br>
                    </div>

                    <!-- Resume detail -->
                        @foreach (var item in Model.SearchResults)
                        {
                    <div class="col-xs-12">
                        <a class="item-block" href="/Resumes/Details/@item.ResumeId">
                            <header>
                                <img src="/uploads/resumes/" alt="photo">
                                <div class="hgroup">
                                    <h4>@item.Resume.FullName</h4>
                                    <h5>@item.Resume.Title</h5>
                                </div>
                            </header>

                            <div class="item-body">
                                <p>@item.Resume.Notes</p>

                                <div class="tag-list">

                                    <span></span>

                                </div>
                            </div>

                            <footer>
                                <div class="header-meta">
                                    <ul class="list-inline">
                                        <li>
                                            <span class="location">
                                                @item.Resume.Location.Name
                                            </span>
                                        </li>   
                                        <li>
                                            <span class="label label-success">Askerlik Durumu:@item.Resume.MilitaryStatus.GetDisplayName()</span>
                                        </li>
                                        
                                    </ul>
                                    
                                </div>

                            </footer>
                           
                        </a>
                        <div class=" btn-group-xs text-right">
                            <div class="action-buttons">
                                <button type="button" id="asd" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="false" onclick="document.getElementById('recepient').value='@item.Resume.Id'">Mesaj Gönder</button>

                            </div>
                        </div> 
                                        </div>
                        }
                    <!-- END Resume detail -->
                        
                        <div class="modal" id="exampleModal">
                            <div class="modal-content modal-dialog">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title">Mesaj Gönder</h3>
                                </div>
                                <div class="modal-body">
                                    <form>
                                       
                                        <div class="form-group">
                                            <input type="hidden" id="recepient" />
                                            <label for="message-text" class="control-label">Mesaj:</label>
                                            <textarea  class="form-control" id="messageText"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button id="sendButton" type="button" onclick="SendMessage()" class="btn btn-primary">Gönder</button>
                                </div>
                            </div>
                        </div>

                    </div>
                
              
                @*<!-- Page navigation -->
                <nav aria-label="Resume navigation example">




                </nav>
                <!-- END Page navigation -->*@


            
        </section>
    </main>

</div>

    <script type="text/javascript">
       function SendMessage() {
           var recepient = $("#recepient").val();
           var message = $("#messageText").val();
               
            $.ajax({
                url: '/JobApplication/SendMessage',
                data: { message: message, resumeid: recepient },
                type: 'POST',
                dataType: 'json',
                success: function (data)
                {
                    alert("Mesajınız gönderildi :)");
                    $("#exampleModal").modal("hide");
                }
            });
         
      }
        
</script>








</script>