@model JobApplicationSearchViewModel
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "MyApplication";
}

<div>

    <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
        <div class="container page-name">
            <h1 class="text-center">Başvurularım</h1>
            <p class="lead text-center">Aradığınız pozisyon için başvurular aşağıdadır.</p>
        </div>

        <div class="container">
            <form method="get" action="/Resumes">

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12">
                        <input type="text" class="form-control" placeholder="Başvuru Ara" id="Keywords" name="Keywords" value="">
                    </div>
                    
                </div>
                <div class="action-buttons">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
         </form>

        </div>

    </header>

    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row item-blocks-connected">

                    <div class="col-xs-12">
                        <br>
                        <h5>@Model.SearchResults.Count<strong></strong> kayıt bulundu..</h5>
                        <br>
                    </div>
                    <!-- Job item -->
                    @foreach (var item in Model.SearchResults)
                    {
                    <div class="col-xs-12">
                        <a class="item-block" href="/Jobs/Details/@item.Id">
                            <header>
                                <img src="/uploads/jobs/" alt="photo">
                                <div class="hgroup">
                                    <h4>@item.Job.Company.Title (@item.Job.Company.Name)</h4>
                                    <h5>@item.Resume.ResumeName</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">@item.Resume.Location.Name</span>
                                    <span class="label label-success">@item.Job.WorkingStyle.GetDisplayName()</span>
                                    
                                </div>
                                <div><span>Notes</span></div>

                            </header>
                        </a>
                    </div>
                    }
                    <!-- END Job item -->
                </div>


                <!-- Page navigation -->
                <nav aria-label="Job navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.SearchResults })
               </nav>
                <!-- END Page navigation -->


            </div>
        </section>
    </main>

</div>