@model Job
@{
    ViewData["Title"] = "İş İlanı - " + Model.Title;
}
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container">
        <div class="header-detail">
            <img class="logo" src="assets/img/logo-google.jpg" alt="">
            <div class="hgroup">
                <h1>@Model.Title</h1>
                <h3><a href="#">@Model.Company.Name</a></h3>


            </div>
            <div class="action-buttons">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a>
                <a class="btn btn-danger" asp-action="Remove" asp-route-id="@Model.Id" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</a>
                <time datetime="@Model.PublishDate">@Model.PublishDate.ToString("yy.MM.yyyy")</time>
                <hr>
                <p class="lead">@Model.ShortDescription</p>

                <ul class="details cols-3">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>
                            @if (Model.JobLocations != null)
                        {
                            foreach (var location in Model.JobLocations.Select(s => s.Location.Name).ToList())
                            {
                                @location
                                <text> </text>
                            }
                        }
                    </span>
                </li>

                <li>
                    <i class="fa fa-briefcase"></i>
                    <span>Çalışma Şekli: @Model.WorkingStyle.GetDisplayName()</span>
                </li>

                <li>
                    <i class="fa fa-male"></i>
                    <span>Askerlik: @Model.MilitaryStatus.GetDisplayName()</span>
                </li>

                <li>
                    <i class="fa fa-clock-o"></i>
                    <span>@Model.WorkingHours saat/hafta</span>
                </li>

                <li>
                    <i class="fa fa-flask"></i>
                    <span>@Model.Experience+ yıl deneyim</span>
                </li>

                <li>
                    <i class="fa fa-certificate"></i>
                    <a href="#">Eğitim Seviyesi: @Model.EducationLevel.GetDisplayName()</a>
                </li>

                <li>
                    <i class="fa fa-check"></i>
                    <a href="#">Aktif mi? @(Model.IsActive ? "Evet" : "Hayır:")</a>
                </li>
                <li>
                    <i class="fa fa-calendar"></i>
                    <a href="#"> Yayın Tarihi: @Model.PublishDate.ToString("yy.MM.yyyy")</a>
                </li>

                <li>
                    <i class="fa fa-calendar"></i>
                    <a href="#"> Bitiş Tarihi: @Model.EndDate.ToString("yy.MM.yyyy")</a>
                </li>
            </ul>

            <div class="button-group">
                <ul class="social-icons">
                    <li class="title">Paylaş:</li>
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="action-buttons">
                    <a class="btn btn-success" asp-action="Apply" asp-route-id="@Model.Id">ŞİMDİ BAŞVUR</a>
                </div>
            </div>

        </div>
    </div>

    <!-- END Page header -->
    <!-- Main container -->
</header>
        <main>

            <!-- Job detail -->
            <section>
                <div class="container">
                    @Html.Raw(Model.Details)
                </div>
            </section>
        </main>
<script>
    DisplayAgoFormat();
    AgoFormat(timeSpan);

        function DisplayAgoFormat() {
            var inputDate = new Date(document.getElementById("girilenTarih").value);
            var currentDate = new Date();
            var differance = currentDate.getTime() - inputDate.getTime();
            var result = AgoFormat(differance);
            document.getElementById("sonuc").innerHTML = result;
        }

        function AgoFormat(timeSpan) {
            var formatedDateString = "";
            var day = Math.floor(timeSpan / (1000 * 60 * 60 * 24));
            var hour = Math.floor(timeSpan / (1000 * 60 * 60) % 24);
            var minute = Math.floor(timeSpan / (1000 * 60) % 60);



            if (day > 0) {
                formatedDateString += day.toString() + " gün ";
            }
            if (hour > 0) {
                formatedDateString += hour.toString() + " saat ";
            }
            if (minute > 0) {
                formatedDateString += minute.toString() + " dakika ";
            }

            if (formatedDateString == "") {
                formatedDateString = "biraz ";
            }

            formatedDateString += "önce";

            return formatedDateString;
        }

</script>
