@model Job
@{
    ViewData["Title"] = "İlanı Düzenleme";
}

<link href="/assets/vendors/summernote/summernote.css" rel="stylesheet">


<form asp-action="Edit" asp-route-id="@Model.Id"  method="post">
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreateDate" />
    <!-- Page header -->
    <header class="page-header bg-img " style="background-image: url(assets/img/bg-banner2.jpg)">
        <div class="container page-name">
            <h1 class="text-center">İş İlanı Ver</h1>
            <p class="lead text-center">Aşağıdaki form ile hemen ücretsiz iş ilanı verebilirsiniz.</p>
        </div>

        <div class="container">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <input asp-for="Title" class="form-control input-lg" placeholder="İlan Başlığı*">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-12 col-sm-6">
                    <select asp-for="CompanyId" class="form-control selectpicker" asp-items="@ViewBag.Companies">
                        <option value="">Firma*</option>
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                    <a class="help-block" asp-controller="Companies" asp-action="Create">Yeni Firma Ekle</a>
                </div>

                <div class="form-group col-xs-12">
                    <textarea asp-for="ShortDescription" class="form-control" rows="3" placeholder="Kısa Açıklama"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-map-marker" title="Lokasyon*"></i></span>


                        <select name="LocationId" required class="form-control selectpicker" multiple data-header="Konum seçiniz*">
                            @foreach (var location in (IList<Location>)ViewBag.Locations)
                            {
                                @if (Model.LocationId.Contains(location.Id))
                                {
                                    <option value="@location.Id" selected="selected">@location.Name</option>
                                }
                                else
                                {
                                    <option value="@location.Id">@location.Name</option>

                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <select asp-for="WorkingStyle" required class="form-control selectpicker" asp-items="@Html.GetEnumSelectList<WorkingStyle>()">
                            <option value="">Çalışma Şekli*</option>
                        </select>
                        <span asp-validation-for="WorkingStyle" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-male"></i></span>
                        <select asp-for="MilitaryStatus" required class="form-control selectpicker" asp-items="@Html.GetEnumSelectList<MilitaryStatus>()">
                            <option value="">Askerlik Durumu*</option>
                        </select>
                        <span asp-validation-for="MilitaryStatus" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <input asp-for="WorkingHours" class="form-control" placeholder="Çalışma Saati">
                        <span class="input-group-addon">Çalışma Saati (Saat/Hafta)</span>
                        <span asp-validation-for="WorkingHours" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-flask"></i></span>
                        <input asp-for="Experience" class="form-control" placeholder="Deneyim">
                        <span class="input-group-addon">Deneyim (Yıl)</span>
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
                        <select asp-for="EducationLevel" required class="form-control selectpicker" asp-items="@Html.GetEnumSelectList<EducationLevel>()">
                            <option value="">Eğitim Seviyesi*</option>
                        </select>
                        <span asp-validation-for="EducationLevel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-xs-4 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-calendar" title="Yayın Tarihi*"></i></span>
                        <input asp-for="PublishDate" class="form-control input-lg" placeholder="Yayın Tarihi*" type="date" />
                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-xs-4 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-wikipedia-w "></i></span>
                        <input asp-for="WebAddress" class="form-control" placeholder="Web Adresi">
                        <span asp-validation-for="WebAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-xs-4 col-sm-6 col-md-4">
                    <div class="checkbox">
                        <input asp-for="IsActive">
                        <label asp-for="IsActive">Aktif</label>
                    </div>
                </div>
                @*<div class="button-group">
                        <div class="action-buttons">
                            <div class="upload-button">
                                <button class="btn btn-block btn-primary">Kapak Resmi Seçin</button>
                                <input id="cover_img_file" type="file">
                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
    </header>

    <!-- END Page header -->
    <!-- Main container -->
    <main class="container">


        <!-- Job detail -->
        <section>
            <div >

                <header class="section-header">
                    <span>AÇIKLAMA</span>
                    <h2>İş Detayı*</h2>
                    <p>Şirketiniz, iş tanımınız, gerekli becerileriniz, avantajlarınız vb. hakkında yazın.</p>
                </header>

                <textarea asp-for="Details" class="summernote-editor"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
                <br />
                <span style="color:red"> *  ile belirtilen alanların girilmesi zorunludur.</span>
            </div>
        </section>



        <!-- Submit -->
        <section class="bg-alt">
            <div class="container">
                <header class="section-header">
                    <span>Tamamladınız mı?</span>
                    <h2>İLANIZI YAYINLAYIN</h2>
                    <p>Lütfen bilgilerinizi bir kez daha gözden geçirin ve işinizi çevrimiçi hale getirmek için aşağıdaki düğmeye basın.</p>
                </header>

                <p class="text-center"><button type="submit" class="btn btn-success btn-xl btn-round" asp-route-id="@Model.Id">Kaydet</button></p>
            </div>
        </section>
        <!-- END Submit -->


    </main>
    <!-- END Main container -->


</form>
@section scripts{
    <script src="/assets/vendors/summernote/summernote.min.js"></script>}

