@model JobSearchViewModel
@*@model ReflectionIT.Mvc.Paging.PagingList<HrPortal.Models.Job>*@
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "İş İlanları";
}

<header class="page-header bg-img">
    <div class="container page-name">
        <h1 class="text-center">İş Ara</h1>
        <p class="lead text-center">Güncel tüm iş ilanlarına buradan ulaşabilirsiniz.</p>
    </div>



    <div class="container">
        <form asp-action="Index" method="get">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input asp-for="Keywords" type="text" class="form-control" placeholder="İlan başlığı, Beceriler, Şirket Arayın">
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" asp-for="LocationId" asp-items="@ViewBag.Locations">
                        <option value="">Tüm konumlar</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" asp-for="OccupationId" asp-items="@ViewBag.Occupations">
                        <option value="">Tüm meslekler</option>
                    </select>
                </div>


                <div class="form-group col-xs-12 col-sm-3">
                    <h6>Çalışma Şekli</h6>
                    <div class="checkall-group">
                        <div class="radio">
                            <input type="radio" id="workingstyle6" name="workingstyle" checked value="">
                            <label for="workingstyle6">Tümü</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="workingstyle1" name="workingstyle" value="1">
                            <label for="workingstyle1">Sürekli / Tam Zamanlı</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="workingstyle2" name="workingstyle" value="2">
                            <label for="workingstyle2">Yarı Zamanlı / Part-time</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="workingstyle3" name="workingstyle" value="3">
                            <label for="workingstyle3">Dönemsel / Proje Bazlı</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="workingstyle4" name="workingstyle" value="4">
                            <label for="workingstyle4">Stajyer</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="workingstyle5" name="workingstyle" value="5">
                            <label for="workingstyle5">Serbest Zamanlı</label>
                        </div>
                    </div>
                </div>


                <div class="form-group col-xs-12 col-sm-3">
                    <h6>Askerlik Durumu</h6>
                    <div class="checkall-group">

                        <div class="radio">
                            <input type="radio" id="militaryStatu5" name="militaryStatus" checked value="">
                            <label for="militaryStatus5">Tümü</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="militaryStatus1" name="militaryStatus" value="1">
                            <label for="militaryStatus1">Yapıldı</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="militaryStatus2" name="militaryStatus" value="2">
                            <label for="militaryStatus2">Muaf</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="militaryStatus3" name="militaryStatus" value="3">
                            <label for="militaryStatus3">Tecilli</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="militaryStatus4" name="militaryStatus" value="4">
                            <label for="militaryStatus4">Yok</label>
                        </div>
                    </div>
                </div>



                <div class="form-group col-xs-12 col-sm-3">
                    <h6>Eğitim Seviyesi</h6>
                    <div class="checkall-group">
                        <div class="radio">
                            <input type="radio" id="educationlevel1" name="educationlevel" checked value="">
                            <label for="educationlevel1">Tüm Seviyeler</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationlevel2" name="educationlevel" value="1">
                            <label for="educationlevel2">Önlisans</label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationlevel3" name="educationlevel" value="2">
                            <label for="educationlevel3">Lisans </label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationlevel4" name="educationlevel" value="3">
                            <label for="educationlevel4">Yüksek Lisans </label>
                        </div>

                        <div class="radio">
                            <input type="radio" id="educationlevel5" name="educationlevel" value="4">
                            <label for="educationlevel5">Doktora </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-3">
                    <h6>Sırala</h6>


                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby1" checked value="1">
                        <label for="sortby1">Ada göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby2" value="2">
                        <label for="sortby2">Ada göre azalan</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby3" value="3">
                        <label for="sortby3">Mesleğe göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby4" value="4">
                        <label for="sortby4">Mesleğe göre azalan</label>
                    </div>
                    
                </div>

            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>

        </form>

    </div>

        </header>
        <!-- END Page header -->
        <!-- Main container -->

    <main class="container">
        <section class="no-padding-top bg-alt">
          
                <div class="row item-blocks-connected">

                    <div class="col-xs-12">
                        <br>
                        <h5>Arama kriterlerinize uyan <strong>@(Model.SearchResults.TotalRecordCount)</strong> ilan bulundu...</h5>
                        <br>
                    </div>

                    @foreach (var jobItem in Model.SearchResults)
                    {
                            <!-- Job item -->
                        <div class="col-xs-12">
                            <a class="item-block" asp-action="Details" asp-route-id="@jobItem.Id">
                                <header>
                                    <img src="/uploads/jobs/@jobItem.Company.Photo" alt="@jobItem.Company.Name">
                                    <div class="hgroup">
                                        <h4>@jobItem.Title</h4>
                                        <h5>@jobItem.Company.Name</h5>
                                    </div>

                                    <div class="header-meta">
                                        <span class="location">
                                            @if (jobItem.JobLocations != null)
                                            {
                                                foreach (var location in jobItem.JobLocations.Select(s => s.Location.Name).ToList())
                                                {
                                                    @location
                                                    <text> </text>
                                                }
                                            }
                                        </span>
                                        <span class="label label-success">@jobItem.WorkingStyle.GetDisplayName()</span>
                                    </div>
                                </header>
                            </a>
                        </div>
                        <!-- END Job item -->

                    }
                </div>



                <!-- Page navigation -->
                <nav aria-label="Job navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.SearchResults })
                </nav>
                <!-- END Page navigation -->


           
        </section>
    </main>
