@model Company
@{
    ViewData["Title"] = "Detaylar";
}

    <!-- Page header -->
<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container">
        <div class="header-detail">
            <img class="logo" src="assets/img/logo-google.jpg" alt="">
            <div class="hgroup">
                <h1>@Model.Name</h1>
                <h3>@Model.Sector</h3>
            </div>
            <hr>
            <p class="lead">@Model.About</p>
            
            <ul class="details cols-3">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <span>@Model.Location.Name</span>
                </li>

                <li>
                    <i class="fa fa-globe"></i>
                    <a href="#">@Model.GooglePlus</a>
                </li>

                <li>
                    <i class="fa fa-users"></i>
                    <span>@Model.EmployeeCount Employer</span>
                </li>

                <li>
                    <i class="fa fa-birthday-cake"></i>
                    <span>@Model.CreateDate</span>
                </li>

                <li>
                    <i class="fa fa-phone"></i>
                    <span>@Model.Phone</span>
                </li>

                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="#">@Model.Email</a>
                </li>
            </ul>

            <div class="button-group">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>

                <div class="action-buttons">
                    <a class="btn btn-gray" href="#">Favori</a>
                    <a class="btn btn-success" href="#">İletişim</a>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>



    <!-- Company detail -->
    <section>
        <div class="container">

            <header class="section-header">
                <span>Hakkında</span>
                <h2>Firma Detayı</h2>
            </header>

            <p>@Model.About</p>
            

        </div>
    </section>
    <!-- END Company detail -->
    <!-- Open positions -->
    <section id="open-positions" class="bg-alt">
        <div class="container">
            <header class="section-header">
                <span>Boş</span>
                <h2>Açık Pozisyonlar</h2>
            </header>



            <div class="row">
                @foreach(var job in Model.Jobs) { 
                <!-- Job item -->
                    <div class="action-buttons">
                        <a class="btn btn-success pull-right" asp-controller="Companies" asp-action="Index">Firma Ara</a>
                    </div>
                <div class="col-xs-12">
                    <a class="item-block" asp-action="Details" asp-controller="Jobs" asp-route-id="@job.Id">
                        <header>
                           
                            <div class="hgroup">
                                <h4>Senior front-end developer</h4>
                                <h5>Google <span class="label label-success">Tam Zamanlı</span></h5>
                            </div>
                            <time datetime="2016-03-10 20:00">34 Dakika Önce</time>
                        </header>

                        <div class="item-body">
                            <p>A rapidly growing, well established marketing firm is looking for an experienced web developer for a full-time position. In this role, you will develop websites, apps, emails and other forms of digital electronic media, all while maintaining brand standards across design projects and other marketing communication materials.</p>
                        </div>
                       

                        <footer>
                            <ul class="details cols-3">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Menlo Park, CA</span>
                                </li>

                                <li>
                                    <i class="fa fa-money"></i>
                                    <span>$90,000 - $110,000 / year</span>
                                </li>

                                <li>
                                    <i class="fa fa-certificate"></i>
                                    <span>Master or Bachelor</span>
                                </li>
                            </ul>
                        </footer>
                    </a>
                </div>
                }
            </div>

        </div>
    </section>
    <!-- END Open positions -->


</main>