
@model ReflectionIT.Mvc.Paging.PagingList<HrPortal.Models.Company>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Firmalar";
}
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Firma Ara</h1>
        <p class="lead text-center">Firma Arama Sayfasına Hoş Geldiniz!</p>
    </div>

    <div class="container">
        <form action="#">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Anahtar Kelime">
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select name="LocationId" class="form-control selectpicker" asp-items="@ViewBag.Locations">
                        <option value="">Seçiniz</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" multiple>
                        <option selected>Tüm Kategoriler</option>
                        <option>Developer</option>
                        <option>Designer</option>
                        <option>Customer service</option>
                        <option>Finance</option>
                        <option>Healthcare</option>
                        <option>Sale</option>
                        <option>Marketing</option>
                        <option>Information technology</option>
                        <option>Others</option>
                    </select>
                </div>

            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Filtreleri Uygula</button>
                </div>
            </div>

        </form>

    </div>

</header>
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <br>
                    <h5>Bulunan<strong> @Model.Count()</strong> kayıttan, <i>10</i> ile <i>15</i> kayıt arasını görüntülüyorsunuz.</h5>
                </div>
                @foreach (var CompanyItem in Model) {
                <!-- Company detail -->
                <div class="col-xs-12">

                    <div class="item-block">
                        <header>
                            <img src="/uploads/companies/@CompanyItem.Photo" alt="@CompanyItem.Id" onerror="/assets/img/avatar.jpg">
                            <div class="hgroup">
                                <h4><a asp-action="Details" asp-route-id="@CompanyItem.Id">@CompanyItem.Name</a></h4>
                            </div>
                            <span class="open-position"></span>

                        </header>
                        <div class="action-buttons">
                             <a class="btn btn-success pull-right" asp-controller="Companies" asp-action="Index">Firma Ara</a>
                                </div>

                            <div class="item-body">
                                
                                    <p>Google Inc. is an American multinational technology company specializing in Internet-related services and products. These include online advertising technologies, search, cloud computing, and software. Most of its profits are derived from AdWords, an online advertising service that places advertising near the list of search results.</p>
                                   
                            </div>
                        </div>

                      
                    
                    
                </div>
               

                }
                <!-- Page navigation -->
                <nav aria-label="Job navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
                </nav>
                <!-- END Page navigation -->

            </div>
        </div>
    </section>
</main>
<!-- END Main container -->