@model CompanySearchViewModel
@*@model ReflectionIT.Mvc.Paging.PagingList<HrPortal.Models.Company>*@
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Firmalar";
}
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Firma Ara</h1>
        <p class="lead text-center">Firma Arama Sayfasına Hoş Geldiniz!</p>
    </div>

    <div class="container">
        <form asp-action="Index" method="get">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <input asp-for="Keywords" class="form-control" type="text" placeholder="Anahtar Kelime">
                </div>

                <div class="form-group col-xs-12 col-sm-3">
                    <select asp-for="LocationId" class="form-control selectpicker" asp-items="@ViewBag.Locations">
                        <option value="">Bölge Seçiniz</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-3">
                    <select class="form-control selectpicker" asp-for="SectorId" asp-items="@ViewBag.Sector">
                        <option value="">Sektör Seçiniz</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-3">


                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby1" checked value="1">
                        <label for="sortby1">Ada göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby2" value="2">
                        <label for="sortby2">Ada göre azalan</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby3" value="3">
                        <label for="sortby3">Sektöre göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby4" value="4">
                        <label for="sortby4">Sektöre göre azalan</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby5" value="5">
                        <label for="sortby5">Konuma göre artan</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="sortby" id="sortby6" value="6">
                        <label for="sortby6">Konuma göre azalan</label>
                    </div>
                </div>

            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Filtreleri Uygula</button>
                </div>
            </div>

        </form>

    </div>

</header>
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <br>
                    <h5><strong> @Model.SearchResults.Count</strong> eşleşme bulundu</h5>
                </div>
                @foreach (var CompanyItem in Model.SearchResults) {
                <!-- Company detail -->
                <div class="col-xs-12">

                    <div class="item-block">
                        <header>
                            <img src="/uploads/companies/@CompanyItem.Photo" alt="@CompanyItem.Name">
                            <div class="hgroup">
                                <h4><a asp-action="Details" asp-route-id="@CompanyItem.Id">@CompanyItem.Name</a></h4>
                            </div>
                            <span class="open-position"></span>

                        </header>
                        

                            <div class="item-body">
                                
                                    <p>@CompanyItem.About</p>
                                   
                            </div>
                        </div>
                 </div>
                 }
                <!-- Page navigation -->
                <nav aria-label="Job navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.SearchResults })
                </nav>
                <!-- END Page navigation -->

            </div>
        </div>
    </section>
</main>
<!-- END Main container -->