@model CompanySearchViewModel
@*@model ReflectionIT.Mvc.Paging.PagingList<HrPortal.Models.Company>*@
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Firmalar";
}
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Firma Ara</h1>
        <p class="lead text-center">Firma Arama Sayfasına Hoş Geldiniz!</p>
    </div>

    <div class="container">
        <form asp-action="Index" method="get">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <input asp-for="Keywords" class="form-control" type="text" placeholder="Anahtar Kelime">
                </div>

                <div class="form-group col-xs-12 col-sm-3">
                    <select asp-for="LocationId" class="form-control selectpicker" asp-items="@ViewBag.Locations">
                        <option value="">Bölge Seçiniz</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-3">
                    <select class="form-control selectpicker" asp-for="SectorId" asp-items="@ViewBag.Sector">
                        <option value="">Sektör Seçiniz</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-3">
                  
                        <select class="form-control selectpicker" asp-for="SortBy" asp-items="@ViewBag.SortBy">
                            <option value="">Sırala</option>
                            <option value="1">Ada Göre Artan</option>
                            <option value="2">Ada Göre Azalan</option>
                            <option value="3">Sektöre Göre Artan</option>
                            <option value="4">Sektöre Göre Azalan</option>
                            <option value="5">Konuma Göre Artan</option>
                            <option value="6">Konuma Göre Azalan</option>
                        </select>
                   
                </div>

            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Filtrele</button>
                </div>
            </div>

        </form>

    </div>

</header>
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <br>
                    <h5><strong> @Model.SearchResults.Count</strong> eşleşme bulundu</h5>
                </div>
                @foreach (var CompanyItem in Model.SearchResults) {
                <!-- Company detail -->
                <div class="col-xs-12">

                    <div class="item-block">
                        <header>
                            <img src="~/uploads/@CompanyItem.Photo" alt="@CompanyItem.Name">
                            <div class="hgroup">
                                <h4><a asp-action="Details" asp-route-id="@CompanyItem.Id">@CompanyItem.Name</a></h4>
                            </div>
                            <span class="open-position"></span>

                        </header>
                        

                            <div class="item-body">
                                
                                    <p>@Html.Raw(CompanyItem.ShortDescription)</p>
                                   
                            </div>
                        </div>
                 </div>
                 }
                <!-- Page navigation -->
                <div class="col-md-12">
                    <nav aria-label="Job navigation example">
                        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.SearchResults })
                    </nav>
                </div>
                <!-- END Page navigation -->

            </div>
        </div>
    </section>
</main>
<!-- END Main container -->