@model CompanySearchViewModel
@*@model ReflectionIT.Mvc.Paging.PagingList<HrPortal.Models.Company>*@
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Firmalar";
}
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Firmalarım</h1>
        <p class="lead text-center">Kaydettiğiniz firmalara buradan ulaşabilirsiniz.</p>
    </div>

    <div class="container">
        <form asp-action="Index" method="get">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input asp-for="Keywords" class="form-control" type="text" placeholder="Anahtar Kelime">
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select asp-for="SectorId" class="form-control selectpicker" asp-items="@ViewBag.Locations">
                        <option value="">Bölge Seçiniz</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" asp-for="SectorId" asp-items="@ViewBag.Sector">
                        <option value="">Sektör Seçiniz</option>
                    </select>
                </div>

            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Filtreleri Uygula</button>
                </div>
            </div>

        </form>

    </div>

</header>

    <main class="container">
        <section class="no-padding-top bg-alt">

            <div class="row item-blocks-connected">

                <div class="col-xs-12">
                    <br>
                    <h5><strong> @Model.SearchResults.Count</strong> eşleşme bulundu</h5>
                </div>
                @foreach (var CompanyItem in Model.SearchResults)
                {
                <!-- Company detail -->
                    <div class="col-xs-12">
                        <a class="item-block" asp-action="Details" asp-route-id="@CompanyItem.Id">
                            <header>

                                @if (String.IsNullOrEmpty(CompanyItem.Photo))
                {

                                    <img class="logo" src="/uploads/background.jpg" />

                                }
                                else
                                {
                                    <img src="~/uploads/companies/@CompanyItem.Photo" alt="@CompanyItem.Photo">

                                }
                                <div class="hgroup">
                                    <h4>@CompanyItem.Name</h4>
                                    
                                </div>
                            </header>

                            <span class="open-position"></span>




                            <div class="item-body">

                                <p>@CompanyItem.ShortDescription</p>

                            </div>
                        </a>
                    </div>
                }
                <!-- Page navigation -->
                <nav aria-label="Job navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.SearchResults })
                </nav>
                <!-- END Page navigation -->

            </div>
            
        </section>
    </main>
    <!-- END Main container -->
