
@using Microsoft.AspNetCore.Identity
@using HrPortal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*login model eklendi checkbox dinamik olması içi*@
@inject UserManager<ApplicationUser> UserManager


<link href="~/assets/css/UserSettings.css" rel="stylesheet" />

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown pull-right">
        <a href="#" class="menuitem dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span><span class="fa fa-chevron-down"></span></a>
        <ul id="login-dp" class="dropdown-menu">
            <li>
                <div class="container-fluid well span6">
                    <div class="row">
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" >
                           @{

                                var user = await UserManager.FindByNameAsync(User.Identity.Name);

                               ViewBag.FullName = user.FirstName + " " + user.LastName;
                        }
                                <div class="span2" style="text-align:center;">
                                    <a href="manage/index">
                                        <img src="/uploads/@user.Photo" class="img-circle" style=" width:150px; height:150px" alt="@(user.FirstName + " " + user.LastName)" />
                                    </a>
                                </div>

                                <div class="span8" style="text-align:center; padding-top:10px; color:black; ">
                                   
                                    <p class="text"><strong>@ViewBag.FullName</strong></p>
                                    <p class="text-small">@User.Identity.Name</p>
                                  
                                 
                                </div>

                                <div class="span2"style="text-align:center;">
                                    <div class="btn-group">
                                        @{ if (User.Identity.Name != null)
                                            {
                                                var user2 = await UserManager.FindByNameAsync(User.Identity.Name);
                                                if (User.IsInRole("Admin"))
                                                {
                                                    <div class="form-group" style="text-align:center;margin-bottom:5px;">
                                                       
                                                        <button asp-controller="JobApplication" asp-action="MyApplications" style="margin-bottom:5px;" class="btn btn-sm btn-danger ">Başvuranlar</button>
                                                        <button asp-controller="JobApplication" asp-action="MyApplications" style="margin-bottom:5px;" class="btn btn-sm btn-primary ">Başvurularım</button>
                                                        <button asp-controller="Resumes" asp-action="MyResumes" style="margin-bottom:5px;" class="btn btn-sm btn-warning">Özgeçmişlerim</button>
                                                        <a style="margin-bottom:5px;" class="btn btn-sm  btn-success" asp-controller="Companies" asp-action="MyCompanies">Firmalarım</a><br />
                                                        <button asp-controller="Jobs" asp-action="myAdsAsync" style="margin-bottom:5px; " class="btn btn-sm btn-info" >İlanlarım</button>
                                                    </div>

                                                }

                                                else if (user.IsEmployer == true)
                                                {
                                                    <div style="text-align:center">
                                            <a class="btn-success btn btn-sm " asp-controller="Companies" asp-action="MyCompanies">Firmalarım</a>
                                            <button asp-controller="Jobs" asp-action="myAdsAsync" style="margin-top:5px;" class="btn btn-info btn-sm">İlanlarım</button>
                                            <button asp-controller="JobApplication" asp-action="Applications" style="margin-top:5px;" class="btn btn-sm btn-warning ">Başvuranlar</button>

                                                           </div>
                                                }
                                                else if (user.IsEmployer == false)
                                                { <div style="text-align:center">
                                            <button asp-controller="JobApplication" asp-action="MyApplications" style="margin-bottom:5px;" class="btn btn-sm btn-success ">Başvurularım</button>
                                            <button asp-controller="Resumes" asp-action="MyResumes" class="btn btn-sm btn-warning">Özgeçmişlerim</button>
                                        </div>
                                                }
                                            }
                                        }
                                        <div style="text-align:center; margin-top:5px;" >
                                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="btn btn-primary btn-sm ">Profil</a>
                                            <button type="submit" class="btn btn-danger btn-sm">Çıkış</button>
                                        </div>
                                    </div>
                                </div>
                                
                        </form>
                        
                    </div>
                    
                </div>
                


            </li>

        </ul>
    </li>

    }

                    else
                    {
                    <li class="dropdown pull-right">
                        <a href="#" class="menuitem dropdown-toggle" data-toggle="dropdown"><b>Giriş</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="social-buttons">
                                            @{
                                                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                                if (loginProviders.Count == 0)
                                                {
                                                    @*<div class="login-footer">
                                                        <h6></h6>
                                                        <ul class="social-icons">
                                                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        </ul>
                                                    </div>*@
                                                }
                                                else
                                                {
                                                    <form asp-action="ExternalLogin" asp-controller="account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                                        <div>
                                                            <p>
                                                                @foreach (var provider in loginProviders)
                                                                {
                                                                    <button type="submit" class="btn btn-fb btn-sm fa fa-facebook" name="provider" value="@provider.Name" title="@provider.DisplayName ile giriş yap ">@provider.Name</button>
                                                                    <button type="submit" class="btn btn-tw btn-sm fa fa-linkedin-square" name="provider" value="@provider.Name" title=" @provider.DisplayName ile giriş yap">Linkedin</button>
                                                                }
                                                            </p>
                                                        </div>
                                                    </form>
                                                }
                                            }




                                            @*<a href="#" class="btn btn-tw btn-sm"><i class="fa fa-linkedin-square"></i> LinkedIn</a>*@
                                            @*<a href="#" class="btn btn-fb btn-sm"><i class="fa fa-facebook"></i> Facebook</a>*@

                                        </div>
                                        <p>Giriş Yap</p>
                                        <form class="form" role="form" asp-action="login" asp-controller="account" asp-route-returnurl="@Context.Request.Path" method="post" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label for="Email" class="sr-only">Email</label>
                                                <input type="email" name="Email" class="form-control" id="Email" placeholder="Email" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="Password">Şifre</label>
                                                <input type="password" name="Password" class="form-control" id="Password" placeholder="Şifre" required>
                                                <div class="help-block text-right"><a href="/account/forgotpassword">Şifreni mi Unuttun?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block btn-sm">Giriş</button>
                                            </div>

                                            <div class="form-group">
                                                <label for="RememberMe"></label>
                                                <input name="RememberMe" class="checkbox checkbox-inline" type="checkbox" value="true" /> Beni hatırla

                                            </div>

                                        </form>
                                    </div>
                                    <div class="bottom text-center">
                                        Hesabın Yok Mu? <a href="/account/register"><b>Üye Ol</b></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>



                    @*<ul class="nav navbar-nav navbar-right">
                            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                        </ul>*@
                                                }
